*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

path{
    fill: #ECCEA7;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

path:hover{
    fill: #FA9E27;
    transition: .3s;
}

.container{
    display: flex;
    flex-direction: row;
    grid-template-areas: 
    'esquerda  direita';
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.box-infos{
    display: grid;
    grid-template-areas: 
    "encima"
    "embaixo";
    grid-template-rows: 1fr 1fr;
    grid-area: direita;
    min-width: 375px;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    background: #F5E7D3;
    overflow-y: auto;
}

.container-info{
    width: 375px;
    height: 100px;
    left: 875px;
    top: 234px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.circulo{
    width: 100px;
    height: 100px;
    left: 910px;
    top: 271px;
    background: #FA9E27;
    opacity: 0.8;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sigla-estado{
    width: 60px;
    height: 44px;
    left: 932px;
    top: 299px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.detalhes{
    height: 100px;
}

.nome-estado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #FA9E27;
}

.capital{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.regiao{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/*cidades*/

.texto-cidades{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.container-cidades ul{
    display: grid;
    height: 200px;
    grid-template-columns: 1fr 1fr;
}

.container-cidades{
    margin: 20px;
}
